<!DOCTYPE html>
<html>
<head>
    <title>Static one</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.css'/>
</head>
<body>
<%- output %>
</body>
</html>